<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493324499604-o3qt95s7gsl09por8nq73lrusiao4fsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493324499604-o3qt95s7gsl09por8nq73lrusiao4fsa</string>
	<key>API_KEY</key>
	<string>AIzaSyBtSw1w8k20YI9WoRgZQhnxc8dZhPuGAoI</string>
	<key>GCM_SENDER_ID</key>
	<string>493324499604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.osavici</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-e6fda</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-e6fda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493324499604:ios:24807ae7cc4f2b0f70d281</string>
</dict>
</plist>